*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(45deg, rgb(244, 163, 13),rgb(244, 155, 13), #d94915, #0f77b3d5, #10A19D,#540375);
    background-size: 300%;
    animation: change_bc 13s ease-out infinite;
    height: 125vh;
    background-repeat: no-repeat;
}


header{
    display: flex;
    align-items: center;
    background-color: #2b2b2a;
    color: rgb(244, 163, 13);
    height: 90px;
    width: 1000px;
    border-radius: 0 0 10rem 10rem;
    box-shadow: 10px 9px 68px -17px rgba(0,0,0,0.77);

    margin-inline: auto;
    margin-bottom: 60px;
}
h1 {
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(244, 201, 120, 0.857);
    border-radius: 0 0 5px 5px;
}
ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact{
    color: white;
    text-decoration: none;

}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 5px;
}

div.block {
    box-sizing: content-box;
    height: 485px;
    width: 900px;
    border: 1.5px solid #e9cf39df;
    background-color: #1D1C19;
    border-radius: 8px;
    color: beige;
    padding-inline: 11px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block p + p{
    border-top: 1px solid rgb(61, 59, 59);
    border-radius: 6.3px;
    padding-top: 8px;
}

.identify {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 15px auto;
    margin-bottom: 25px;
    background-color: #1f1e19;
    box-shadow: 3.8px 3px 9px 0px rgba(0,0,0,0.75);

    height: 30px;
    width: 100px;
    color: #F7DD43;
    border: 1.5px solid #e9d04476;
    border-radius: 9.4px;
    text-align: center;
}

.explication {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

#universal {
    display: flex;
    justify-content: center;
    gap: 50px;
}
 

#bloco1, #bloco3{
    margin-left: 30px;
    margin-right: 30px;
} 

#bloco2{
    margin-right: 50px;
} 

#bloco3{
    margin-top: 30px;
    width: 850px;
}

.explidemons{
    font-size: 22px;
}
.demons {
    margin-top: 10px;
    font-size: 1.2rem;
}
.explidemons, .demons{
    color: rgba(255, 255, 255, 0.624);

}



/*  Código de demonstração */ 
#altbody{
    color: #d7403b;
}
.chaves{
    color: rgb(212, 212, 54);
}
.propriedade{
    color:#239fc1;
}
.propertyvalue{
    color:rgb(244, 163, 13);
}
.coments{
    color:#52524e
}


    /* scrollbar */ 
::-webkit-scrollbar{
    width: 10px;
    background-color: #8b87847f;
}

::-webkit-scrollbar-thumb{
    background-color: #27271e;
    border: 1px solid #393932;
    border-radius: 4px;
}
::-webkit-scrollbar-button{
    background-color: #2b2b2135;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #3f3f3ff5;
}




                                            /* ANIMATIONS */

                    /*    Background    */
@keyframes change_bc {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


                    /*    Cards    */
.block {
    transition: 200ms transform cubic-bezier(.42, 0, .65, 1.7);
}
.block:hover {
    transform: scale(1.06);
    margin-inline: 3px;
    transition: 200ms transform cubic-bezier(.42, 0, .65, 1.7);
}



                    /* Border */ 
.identify::before, .identify::after{
    content: "";
    position: absolute;
    width: calc(100% + 3.1px);
    height: calc(100% + 3.1px);
    background: linear-gradient(45deg, #1D1C19, #3b322a, #FD841F, #E14D2A, #db1252);
    z-index: -2;
    background-size: 300%;
    border-radius: 9.4px;
    animation: border_animation 2s linear alternate infinite;
}

.identify::after {
    filter: blur(20.4px);
}
@keyframes border_animation {
    0%{
        background-position: 0%;
    }

    50%{
        background-position: 50%;
    }
    100%{
        background-position: 100%;
    }
}




